<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.WinJS" version="4.0.0" targetFramework="uap10.0.10240" />
  <package id="angularjs" version="1.4.4" targetFramework="uap10.0.10240" />
  <package id="Bower" version="1.3.11" targetFramework="uap10.0.10240" />
  <package id="Node.js" version="0.10.28" targetFramework="uap10.0.10240" />
  <package id="NoGit" version="0.0.8" targetFramework="uap10.0.10240" />
</packages>